@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&family=Carter+One&family=Joan&family=Josefin+Sans:wght@100&family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;

}
:root{
    --yellow:#f9ca24;
}
/* #image{
    height: 250px;
    width: 250px;
    background-size: cover;
} */
*::selection{
    background:var(--yellow);
    color:#333;

}
html{
    font-size:62%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;   /*scrollbar width*/
    
}
html::-webkit-scrollbar-track{
   background: #222;  /*track ka color*/
}
html::-webkit-scrollbar-thumb{
   background: var(--yellow);  /*thumb means scroll ka color*/
}
body{
    background: #111;
    overflow-x:hidden;
    padding-left: 31rem;
}

section{
    min-height:100vh;
    padding:1rem;

}
.btn{
    padding: 0.7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 5rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;

}
.btn:hover{
   background:var(--yellow) ;
}

.heading{
    text-align: center;
    margin:0.6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;

}
#s{
    color: var(--yellow);
}
.shape{
    color:rgb(230, 218, 218);
    padding: 5%;
    font-size: 12px;
}
.shape:hover{
    /* border-bottom:1px solid rgb(255, 226, 226); */
    box-shadow: 0px 1px 0.6px 0.5px #f7f7f7;
    /* border-radius: 50%; */
}
.shapei:hover{
    font-size: 15px;
}
.shapet{
    color:rgb(230, 218, 218);
}
.shapet:hover{
    font-size: 15px;
}
.shapel{
    color:rgb(230, 218, 218);
}
.shapel:hover{
    font-size: 15px;
}
.shapeg{
    color: gray;
}
.shapeg:hover{
    font-size: 15px;
}
.heading span{
    color:var(--yellow);
}
header{
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width:31rem;
    background: #1a1a1a;
    display: var(--yellow);
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    flex-flow:column;
    text-align: center;

}
header .user img {
  height:17rem;
  width:17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border:.7rem solid  var(--yellow);
}
header .user .name{
   font-size: 3.5rem;
   color:#fff;
}
header .user .post{
   font-size: 2rem;
   color:#eee;

}
header.navbar{
    width:100%;
    
}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding: 1rem 9rem;
    margin: 2rem 0;
    background:#333 ;
    color:#fff;
    font-size:2rem;
    border-radius:5rem;
    /* display: none; */
    /* list-style: none; */
    /* padding:1rem 3rem; */
}
header .navbar ul li a:hover{
    background: var(--yellow);

}

#menu{
    position:fixed;
    top:2rem;
    right:3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
    /* display: block; */
    /* background-image: url("pic1.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 12rem;
    background-image: url("pic1.jpg");
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border-radius: 50%;  */
}
.home h3{
    font-size: 3rem;
    color:#fff;
    
}
.home h1{
    font-size:6rem;
    color:#fff;
}
.home h1 span{
    color: var(--yellow);
}

.home p{
    font-size: 3rem;
    color: #eee;
    padding: 1rem 0;

}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
   flex:1 1 56rem;
   padding:2rem 1rem;
   padding-left: 6rem;
}
.about .row .info h3{
    font-size:20px;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}
.about .row .counter{
   flex:1 1 48rem;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.about .row .counter .box{
    width:25rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}
.about .row .counter .box h3{
    font-size: 4rem;
    color: var(--yellow);
}
.para{
    color: #fff;
    font-size:1.6rem ;
    border:1px solid yellow;
    padding:24px;
    margin-top: 36px;
    margin-bottom: 2px;
}
.color{
    color:var(--yellow);
  
}
.head1{
    font-size: 3rem;
    color: white;
    margin-bottom:15px ;
}
.head2{
    color: var(--yellow);
}
.education .box-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}
.education .box-container .box{
    width: 50%;
    margin: 9rem 0rem;
    padding-left: 3rem;
    border-left: 0.2rem solid #fff;
    position: relative;
}
#intro{
    color: #eee;
    font-size: 2rem;
}

#name1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#head{
    color: var(--yellow);
}
.skill{
    border: 1px solid white;
    width: 40rem;
    height: 0.6rem;
    margin-bottom: 4rem;
    /* position: relative; */
    padding: 2px 12px;
}
.skillh{
    left: 3rem;
    top: 2.1rem;
    width: 32rem;
    height:0.6rem;
    padding: -1px;
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
}
.skillc{
    left: 3rem;
    top: 9rem;
    width: 29rem;
    height:0.6rem;
    padding: -1px;
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
}
.skillj{
    left: 3rem;
    top: 15.82rem;
    width: 24rem;
    height:0.6rem;
    padding: -1px;
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
}
.skillcp{
    left: 3rem;
    top: 22.6rem;
    width: 27rem;
    height:0.6rem;
    padding: -1px;
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
}
.skillp{
    left: 3rem;
    top: 29.4rem;
    width: 25rem;
    height:0.6rem;
    padding: -1px;
    position: absolute;
    border: 2px solid white;
    background-color: var(--yellow);
}
#percent1{
    padding: 27rem;
}
#percent2{
    padding: 25rem;
}
#percent3{
    padding: 14rem;
}
#percent4{
    padding: 23rem;
}
#percent5{
    padding: 17rem;
}
#percent6{
    padding: 17rem;
}
.education .box-container .box h3{
    font-size: 3rem;
    color:#fff;
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 2.2rem;
    color:#eee;
    padding: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top:-1.5rem;left:-2.5rem;
    height:5rem;
    width:5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: var(--yellow);
}
.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;

}
.portfolio .box-container .box{
    height: 23rem;
    width: 38rem;
    /* border-radius: 1rem; */
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}
.name{
    font-size: 140%;
    color: #fff;

}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .row .content{
    flex:1 1 25rem;
    padding: 4rem;
    padding-bottom: 0;
    
}
.contact .row form{
    flex:1 1 25rem;
    padding: 2rem;
    margin: 0.8rem;
    margin-bottom: 2rem;
    background: #fff;
    border-radius: 10px;

    
}
.contact .row form .box{
    padding: 1.2rem;
    /* margin:1rem 0; */
    /* background: #333; */
    /* color:#fff; */
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border:0;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;

}
form h3{
    color:#555;
    font-weight:800;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom:20px;
}
form input,form textarea{
    border:0;
    margin:10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}
.contact .row form .message{
    height:15rem;
    resize:none;
}
.contact .row form .btn2{
    font-size: 1.3rem;
    margin: 0;
    /* padding: 0; */
    box-shadow: -5px -5px 8px #00000020, 5px 5px 8px #aaadb0;
} 
.contact .row form .btn2:hover{
    box-shadow: 5px 5px 8px #00000020,-5px -5px 8px #aaadb0 ;
    /* font-size: 1.4rem; */
}
.contact .row .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;

}
.contact .row .content .info h3{
    text-transform: none;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight:normal ;
}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--yellow);
}
.top{
    position: fixed;
    bottom: 3rem;
    right:2rem;
    z-index: 100;
    display: none;

}
.btn1{
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 0.1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn1:hover{
    color: var(--yellow);
}
/* #btn1{
    height:60px;
    width:60px;
    object-fit: cover;
    position: absolute;
    right:10px;
    bottom: 0px;
} */
#msg{
    color: #61b752;
    display: block;
    position: absolute;
    left: 55%;
    top: 513%;


}
#image1{
    height:30rem;
    width:30rem;
    object-fit: cover;
}
.name1{
    font-size: medium;
    color: #fff;
}
.link{
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
}
/* footer section */
footer {
    /* background: #eee; */
    padding: 15px 23px;
    color: #eee;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    width: 100%;
}    
.foot{
    color: var(--yellow);
}










/* media queries */
@media(max-width:1200px){

    html{
        font-size:55%;
    }
    .home{
        padding: 1rem;
        width: 100%;
    }
    .skillh{
        top:2.4rem;
        height: 0.6rem;
    }
    .skillc{
        top: 9.6rem;
    /* object-fit: cover; */
        height: 0.6rem;
    }
    .skillj{
        top: 16.7rem;
        height: 0.7rem;
    }
    .skillcp{
        top: 23.9rem;
        height: 0.6rem;
    }
    .skillp{
        top: 31rem;
        height: 0.6rem;
    }
}
@media(max-width:991px){

    header{
        left:-120%;
    }
    .home{
        /* padding: 1rem; */
        width: 100%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left:0%;
    }
    body{
        padding: 0;
    }
    .skillh{
        top:2.565rem;
    }
    .skillc{
        top:9.7rem;
    }
    .skillj{
        top:16.83rem;
    }
    .skillcp{
        top:24rem;
    }
    .skillp{
        top:31.12rem;
    }
    /* .skill{
        width:100%;
    } */
}
@media(max-width:768px){

    html{
       font-size: 50%;

    }
    .home{
        /* padding: 1rem; */
        width: 100%;
    }
    .skillh{
        top:2.8rem;
        height: 0.6rem;
        width:28rem;
    }
    .skillc{
        top: 10.2rem;
    /* object-fit: cover; */
        height: 0.6rem;
        width: 26rem;
    }
    .skillj{
        top: 17.7rem;
        height: 0.7rem;
        width: 20rem;
    }
    .skillcp{
        top: 25.1rem;
        height: 0.6rem;
        width: 24rem;
    }
    .skillp{
        top: 32.6rem;
        height: 0.6rem;
        width: 22rem;
    }
    .skill{
        width:100%;
    }
    #percent1{
        padding: 21rem;
    }
    #percent2{
        padding: 19rem;
    }
    #percent3{
        padding: 7rem;
    }
    #percent4{
        padding: 19rem;
    }
    #percent5{
        padding: 12rem;
    }
     #percent6{
        padding: 12rem;
    }
    
}
@media(max-width:400px){

    header{
       width:100vw;
    }
    .heading{
        margin: 0 3rem;

    }
    .home{
        /* padding: 1rem; */
        width: 100%;
    }
    .about .row .counter .box{
        width:100%;

    }
    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;

    }
    .contact .row form{
        margin: 3rem 0;
    }
    .skill{
        width:100%;
    }
    .skillh{
        top:2.8rem;
        height: 0.6rem;
        width:80%;
    }
    .skillc{
        top: 10.2rem;
    /* object-fit: cover; */
        height: 0.6rem;
        width:75%;
    }
    .skillj{
        top: 17.7rem;
        height: 0.7rem;
        width:55%;
    }
    .skillcp{
        top: 25.1rem;
        height: 0.6rem;
        width:65%;
    }
    .skillp{
        top: 32.6rem;
        height: 0.6rem;
        width:60%;
    }
    #percent1{
        padding: 61%;
    }
    #percent2{
        padding: 60%;
    }
    #percent3{
        padding: 16%;
    }
    #percent4{
        padding: 50%;
    }
    #percent5{
        padding: 28%;
    }
     #percent6{
        padding: 28%;
    }
}




